<%= render 'event_search' %>
<% unless @events.blank? %>    
    <table id="event_table" class="table" data-events="<%= @events.to_json %>" data-oauth_token="<%= @current_user.oauth_token %>"></table>
    <script>
		load_event_table();
		FB.init({appId: "360161967331340", status: true, cookie: true});
	</script>
<% end %> 



