<% if @current_user %>
	<table>
		<tr>
			<td>
				<img src="https://graph.facebook.com/<%= @current_user['uid'] %>/picture?type=normal" alt="profile picture">
				Welcome, <strong><%= @current_user['name'] %></strong>
			</td>					
		</tr>
		<tr>
			<td>
				<% matches = @current_user.find_matches %>
				<% 11.times do |n| %> 
				<br /><%= matches[n][0] %>
				<img src="https://graph.facebook.com/<%= matches[n][0] %>/picture?type=normal" alt="profile picture">
				<% end %>
			</td>					
		</tr>		
	</table>

<% else %>
welcome to my app please sign in
<% end %>