<% if @current_user %>
	<table>
		<tr>
			<td>
				<img src="https://graph.facebook.com/<%= @current_user['uid'] %>/picture?type=normal" alt="profile picture">
				Welcome, <strong><%= @current_user['name'] %></strong>
			</td>					
		</tr>
		<tr>
			<td><%= @matches%>
				<% 5.times do |n| %>
 					<div id = "prophile_box">
 						
 						<!-- picture_link(@matches[n][0],"80")--> 						
 					</div><br />
				<% end %>
				<%= nil %>
			</td>					
		</tr>		
	</table>

<% else %>
welcome to my app please sign in
<% end %>