/*
 *= require_self
*/
@import "home.css.scss";
#sign_out
{
  text-align:center;
  color:red;
  background-color:yellow;
}
#prophile_box
{
  text-align:left;
  color:red;
  background-color:lightgrey;
  height: 80px;
  width: 200px;
}

#likes_box
{
  text-align:left;
  color:red;
  background-color:lightblue;
  height: 80px;
  width: 200px;
}
table 
{
width:5%;
height:5%;
}

