/*
 *= require_self
*/
@import "home.css.scss";
#sign_out
{
  text-align:center;
  color:red;
  background-color:yellow;
}
#prophile_box
{
  text-align:left;
  color:red;
  background-color:lightgrey;
  height: 80px;
  width: 500px;
}
